<template>
  <div>
    <h2>Formulario de Validación</h2>
    <form @submit.prevent="submitForm">
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" v-model="nombre" @input="validateNombre" />
        <span v-if="nombreError" class="error-message">{{ nombreError }}</span>
      </div>

      <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" v-model="apellido" @input="validateApellido" />
        <span v-if="apellidoError" class="error-message">{{ apellidoError }}</span>
      </div>
      <div>
        <label for="edad">Edad:</label>
        <input type="number" id="edad" v-model.number="edad" @input="validateEdad" />
        <span v-if="edadError" class="error-message">{{ edadError }}</span>
      </div>

      <div>
        <label for="genero">Género:</label>
        <select id="genero" v-model="genero" @change="checkGenero">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
          <option value="otro">Otro</option>
        </select>
      </div>

      <div v-if="genero === 'otro'">
        <label for="otroGenero">Otro Género:</label>
        <select id="otroGenero" v-model="otroGenero">
          <option v-for="option in otrosGeneros" :key="option" :value="option">{{ option }}</option>
        </select>
      </div>

    </form>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const nombre = ref('');
const apellido = ref('');
const edad = ref<number | null>(null);
const genero = ref('masculino');
const otroGenero = ref('');
const nombreError = ref('');
const apellidoError = ref('');
const edadError = ref('');

const otrosGeneros = ['Transgénero', 'No binario', 'Intersexual']; // Agrega otros géneros aquí si es necesario

const validateNombre = () => {
  nombreError.value = '';
  if (nombre.value.length < 5 || nombre.value.length > 18) {
    nombreError.value = 'El nombre debe tener entre 5 y 18 caracteres';
  }
};

const validateApellido = () => {
  apellidoError.value = '';
  if (apellido.value === nombre.value) {
    apellidoError.value = 'El apellido no puede ser igual al nombre';
  }
};

const validateEdad = () => {
  edadError.value = '';
  if (edad.value! <= 0 || edad.value! >= 60) {
    edadError.value = 'La edad debe ser mayor a 0 y menor a 60';
  }
};

const submitForm = () => {
  validateNombre();
  validateApellido();
  validateEdad();
};

const checkGenero = () => {
  if (genero.value !== 'otro') {
    otroGenero.value = ''; // Limpiar el valor si no es "Otro"
  }
};
</script>



<style scoped>



div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.error-message {
  color: red;
}

</style>
